{{define "article-meta"}}
    <p class="blog-post-meta text-secondary">
        发布于<a href="{{ .Link }}" class="font-weight-bold">{{ .CratedAtDate  }}</a>
        by <a href="{{ .User.Link }}" class="font-weight-bold">{{ .User.Name }}</a>
        分类 <a href="{{ RouteName2URL "categories.show" "id" .Category.GetStringID }}" class="font-weight-bold">{{ .Category.Name }}</a>
    </p>
{{end}}