<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }} --我的技术博客</title>
    <style type="text/css">.error {color: red}</style>
</head>
<body>
    <p>ID: {{ .ID }}</p>
    <p>标题: {{ .Title }}</p>
    <p>内容: {{ .Body }}</p>
{{/*     构建删除按钮 */}}
    {{ $idString := Int64ToString .ID  }}
    <form action="{{ RouteName2URL "articles.delete" "id" $idString }}" method="post">
            <button type="submit" onclick="return confirm('是否删除')">删除</button>
        </form>
</body>
</html>